:root{
    --color-principal: #1e2326; 
    --color-secundario: #1cb698;
    --color-alternativo: #252a2e;   
    --color-font-principal: #fff;
}

/* reseteamos los estilos predeterminados del navegador */
*{
    box-sizing: border-box;
    font-family: "Work Sans";
    margin: 0;
    padding: 0;
}

html{
    /* permite deslizar cuando hago click en los link del nav */
    scroll-behavior: smooth;
    font-size: 10px; /*se asigna tamaño de font de forma global para usar medidas en rem*/
}

/* MENU - NAV*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-principal);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}


.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav__logo {
    font-size: 2rem;
    text-align: center;
    color: var(--color-secundario);
    text-decoration: none; 
   
}   

.nav__list {
    display: flex;
    list-style: none; 
}

.list__link a {
    text-align: none;
    color: var(--color-font-principal);
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    transition: .5s;
    font-size: 1.5rem;
}

.list__link a:hover{
    color: var(--color-secundario);
}


/* SECCION INICIO */
.banner{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(/asset/img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: var(--color-font-principal);
    display: flex;
}

.banner__card{
    padding: 20px;
    background: var(--color-principal);
    width: 750px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    display: flex;
}

.banner__card img{
    margin-top: 40px;
    border: 5px solid var(--color-principal);
    border-radius: 100%;
    width: 50%;
    margin: auto;
}

.card__info{
    margin-top: 20px;
}
.card__info h1{
    margin-top: 30px;
    font-size: 3rem;
    
}

.card__info p {
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Righteous';
}

.card__info h2{
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Work Sans';
}

.card__redes a{
    color: var(--color-font-principal);
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 2rem;
    transition: .3s;
}

.card__redes a:hover{
    background-color: var(--color-secundario);
}


/* SECCION SOBRE MI */
.sobremi{
    background-color: var(--color-principal);
    color: var(--color-font-principal);
    padding: 3rem;
    
}
.sobremi__contenido{
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.sobremi__contenido h2{
    font-size: 5rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi__contenido p{
    font-size: 2rem;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi__contenido p span{
    color: var(--color-secundario);
    font-weight: bold;
}

.contenido__info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info__col h3{
    font-size: 2.8rem;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.info__col ul{
    list-style: none;
}

.info__col ul li{
    margin: 12px 0;
    font-size: 1.5rem;
}

.info__col ul li strong{
    display: inline-block;
    color: var(--color-secundario);
    width: 130px;
}

.info__col ul li span{
    background-color: var(--color-secundario);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

/* boton descarga CV */
.sobremi__botondescarga{
    height: 50px;
    width: 150px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #575555; 
    width: fit-content; /*ajusta un tamaño dado a un tamaño disponible*/
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 1.8rem;
    color: var(--color-font-principal);
    position: relative;
    z-index: 10;
}

.sobremi__botondescarga .overlay{
    position: absolute;
    top: 0;
    left: 0; 
    width: 0;
    height: 100%;
    background-color: var(--color-secundario);
    z-index: -1; 
    transition: 1s;
}

.sobremi__botondescarga a{
    color: var(--color-font-principal);
    text-decoration: none;
}

.sobremi__botondescarga i{
   font-size: 2rem;
   padding-left: 15px;
}

.sobremi__botondescarga:hover .overlay{
    width: 100%;
}

/* Contenedor Skills */
 .skills, 
 .hobbies{
    background-color: var(--color-principal);
} 

.skills h3,
.hobbies h3{
    font-size: 5rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: var(--color-font-principal);
}

.skills__contenido,
.hobbies__contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skills__contenido .contenido__item,
.hobbies__contenido .contenido__item{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background-color:var(--color-alternativo);
    border-radius: 10px;
    margin: 0 15px 15px 0;
    transition: .3s;
}

.skills__contenido .contenido__item:hover,
.hobbies__contenido .contenido__item:hover{
    background-color: var(--color-secundario);
}

.skills__contenido .contenido__item i,
.hobbies__contenido .contenido__item i{
    margin-top: 20px;
    font-size: 4rem;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-font-principal);
}
.skills__contenido .contenido__item span,
.hobbies__contenido .contenido__item span
{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

/* SECCION FORMACION */
.formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-principal);
    width: 100%;
    height: 100%;
}

.formacion__title{
    font-size: 5rem;
    text-align: center;
    color: var(--color-font-principal);
    padding: 20px 10px; 
}

.formacion__card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
}

.card__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid var(--color-alternativo);
    border-radius: 30px;
}

.card__contenido:hover{
    box-shadow:0 0 5px var(--color-secundario);
}
.card__contenido img{
    height: 80px;
    width: 80px;
}

.card__contenido span{
    margin-top: 5px;
    font-size: 2rem;
    color: var(--color-secundario);
    font-weight: 400;
}

.card__contenido p{
    padding: 2px 5px;
    font-size: 1.8rem;
    font-weight: 200;
    color: var(--color-font-principal);
}
.card__contenido .card__contenido--span{
    padding: 2px 5px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-font-principal);
}

/* SECCCION PROYECTOS */

.portafolio{
    width: 100%;
    height: 100%;
    background-color: var(--color-principal);
    color: var(--color-font-principal);
    padding: 50px;
}

.portafolio h2{
    font-size: 4rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portafolio__contenido{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*los elementos flex son organizados en varias lineas*/
}

.portafolio__contenido .creartarjeta{
    width: 250px;
    height: 330px;    
    box-shadow:0 0 5px #fff;
    border-radius: 15px; 
    margin: 10px 10px;
    text-align: center;
}

.creartarjeta:hover{
    box-shadow:0 0 5px var(--color-secundario);
}

.creartarjeta h3{
    font-size: 2.5rem;
    font-family: 'Righteous';
    padding: 5px 0;
    text-align: center;
}

.creartarjeta img{
    width: 230px;
    height: 200px;
}

.creartarjeta p{
    font-size: 1.8rem;
    font-family: 'Work Sans';
    display: flex;
    justify-content:center;
    padding: 10px 10px;
}

.creartarjeta a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-secundario);
    margin-top: 10px;
   
}  



/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: var(--color-principal);
    color: var(--color-font-principal);
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.contacto__contenido{
    width: 80%;
}

.contenido__title{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contenido__formulario{
    display: flex;
    width: 100%;
    
}

.formulario__col{
    width: 40%;
    padding: 10px;
    position: relative;
}

.formulario__col input, 
.formulario__col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--color-alternativo);
    color: var(--color-font-principal);
    font-size: 18px;
}

.col__button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--color-font-principal);
    position: relative;
    z-index: 10;
}

.col__button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-secundario);
    z-index: -1;
    transition: 1s;
}

.col__button:hover .overlay{
    width: 100%;
}


.formulario__mapa{
    display:block;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.formulario__mapa img{
    width: 100%;
    height: 80%;
    padding: 10px 10px;
}

.mapa__info{
    width: 100%;
}

.info__list{
    list-style: none;
    text-align: center;
}

.list__item{
    padding: 3px 10px;
    font-size: 2rem;
}

.list__item i{
    color: var(--color-secundario);
    display: inline-block;
    margin-right: 20px;
}

/* FOOTER */
.footer{
    background-color: var(--color-alternativo);
    color: var(--color-font-principal);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

.footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--color-secundario);
    color: var(--color-font-principal);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

.footer .footer__redes{
    margin-bottom: 20px;
}

.footer__redes a{
    color:var(--color-font-principal);
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.footer__redes a:hover{
    background: var(--color-secundario);
}
.footer p{
    font-size: 2rem;
}

@media (max-width: 680px) {
    .banner__card {
        display: block;
        margin-top: 40px;
    }

    .banner__card img {
        margin: auto;
        width: 200px;
        height: 200px;
    }

    .contenido__info{
        display: block;
    } 

    .sobremi__botondescarga {
        display: block;
        height: 50px;
        width: 150px;
        font-size: 1.3rem;
        text-align: center;

    }
}


@media (max-width:782px){
    .header{
        display: inline-flex;
        justify-content: flex-end;
    }

    .list__link {
        margin: 0;
        padding: 0;
         visibility: hidden;
       
    }

    .list__link--visible{
        display: flex;
        visibility: visible;
        
    } 
}

@media (max-width: 1000px){
    .formulario__col{
        width: 100%;
    }
    .formulario__mapa{
        display: none;
    }
}

