/* reseteamos los estilos predeterminados del navegador */
*{
    box-sizing: border-box;
    font-family: "Work Sans";
    margin: 0;
    padding: 0;
}

html{
    /* permite deslizar cuando hago click en los link del nav */
    scroll-behavior: smooth;
    font-size: 10px; /*se asigna tamaño de font de forma global para usar medidas en rem*/
}

/* MENU - NAV*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:#1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header img{
    height: 60px;
    width: 60px;
    border: 1px solid rgb(90, 87, 87);
    
}

.header__logo{
    max-width: 11rem;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    padding: 15px 20px;
}

.header__logo a {
    /* font-family: 'Righteous'; */
    /* display: flex; */
    font-size: 3rem;
    text-align: center;
    color: #1cb698;
    text-decoration: none; /*quita el subrayado del link*/
}

.header__nav ul  {
    display: flex;
    list-style: none; 
 
}

.header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    transition: .5s;
    font-size: 1.5rem;
}

.header nav ul li a:hover{
    color: #1cb698;
}


/* SECCION INICIO */
.banner{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(/asset/img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
}

.banner__card{
    padding: 20px;
    background-color: #1e2326;
    width: 750px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    display: flex;
}

.banner__card img{
    margin-top: 40px;
    border: 5px solid #1e2326;
    border-radius: 100%;
    width: 50%;
    margin: auto;
}

.card__info{
    margin-top: 20px;
}
.card__info h1{
    margin-top: 30px;
    font-size: 3rem;
    
}

.card__info p {
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Righteous';
}

.card__info h2{
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Work Sans';
}

.card__info .card__redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 2rem;
    transition: .3s;
}

.banner__card .card__redes a:hover{
    background-color: #1cb698;
}


/* SECCION SOBRE MI */
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 3rem;
}
.sobremi__contenido{
    max-width: 1100px;
    margin: auto;
}

.sobremi__contenido h2{
    font-size: 5rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi__contenido p{
    font-size: 2rem;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi__contenido p span{
    color: #1cb698;
    font-weight: bold;
}

.sobremi__fila{
    display: flex;
}

.sobremi__fila .col{
    width: 50%;
}

.sobremi__fila .col h3{
    font-size: 2.8rem;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi__fila .col ul{
    list-style: none;
}

.sobremi__fila .col ul li{
    margin: 12px 0;
    font-size: 1.5rem;
}

.sobremi__fila .col ul li strong{
    display: inline-block;
    color: #1cb698;
    width: 130px;
}

.sobremi__fila .col ul li span{
    background-color: #1cb698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

/* boton descarga CV */
.sobremi__botondescarga{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #575555; 
    width: fit-content; /*ajusta un tamaño dado a un tamaño disponible*/
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 1.8rem;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi__botondescarga .overlay{
    position: absolute;
    top: 0;
    left: 0; 
    width: 0;
    height: 100%;
    background-color: #1cb698;
    z-index: -1; 
    transition: 1s;
}

.sobremi__botondescarga a{
    color: #fff;
    text-decoration: none;
}

.sobremi__botondescarga i{
   font-size: 2rem;
   padding-left: 15px;
}

.sobremi__botondescarga:hover .overlay{
    width: 100%;
}

/* Contenedor Skills */
 .skills, 
 .hobbies{
    background-color: #1e2326;
} 

.skills h3,
.hobbies h3{
    font-size: 5rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.skills__contenido,
.hobbies__contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.skills__contenido .contenido__item,
.hobbies__contenido .contenido__item{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background-color:#252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    transition: .3s;
}

.skills__contenido .contenido__item:hover,
.hobbies__contenido .contenido__item:hover{
    background-color: #1cb698;
}

.skills__contenido .contenido__item i,
.hobbies__contenido .contenido__item i{
    margin-top: 20px;
    font-size: 4rem;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}
.skills__contenido .contenido__item span,
.hobbies__contenido .contenido__item span
{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

/* SECCCION PORTAFOLIO */

.portafolio{
    width: 100%;
    height: 100%;
    background-color: #1e2326;
    color: #fff;
    padding: 50px;
}

.portafolio h2{
    font-size: 4rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portafolio__contenido{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*los elementos flex son organizados en varias lineas*/
}

.portafolio__contenido .creartarjeta{
    width: 250px;
    height: 330px;    
    box-shadow:0 0 5px #fff;
    border-radius: 15px; 
    margin: 10px 10px;
    text-align: center;
}

.creartarjeta:hover{
    box-shadow:0 0 5px rgb(39, 130, 153) ;
}

.creartarjeta h3{
    font-size: 2.5rem;
    font-family: 'Righteous';
    padding: 5px 0;
    text-align: center;
}

.creartarjeta img{
    width: 230px;
    height: 200px;
}

.creartarjeta p{
    font-size: 1.8rem;
    font-family: 'Work Sans';
    display: flex;
    justify-content:center;
    padding: 10px 10px;
}

.creartarjeta a{
    text-decoration: none;
    font-size: 2rem;
    color: #1CB698;
    margin-top: 10px;
   
}  

.contenedor-portafolio .contenido-portafolio .creartarjeta a:hover{
    color: #fff;
}

/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto__contenido{
    max-width: 1100px;
    margin: auto;
}
.contacto__contenido h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contenido__formulario{
    display: flex;
}
.contenido__formulario .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contenido__formulario  .col input, 
.contenido__formulario  .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contenido__formulario  button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contenido__formulario  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contenido__formulario :hover .overlay{
    width: 100%;
}
.contenido__formulario  .col img{
    width: 100%;
}
.contenido__formulario  .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-swidth: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contenido__formulario  .col .info ul{
    list-style: none;
}
.contenido__formulario  .col .info ul li{
    margin-bottom: 20px;
    font-size: 2rem;
}
.contenido__formulario  .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}



/* FOOTER */
.footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

.footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

.footer .footer__redes{
    margin-bottom: 20px;
}
.footer__redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.footer p{
    font-size: 2.5rem;
}


